.playerOneBoard {
  margin: 0 auto;
}

.playerTwoBoard {
  margin: 0 auto;
}

.grid-item {
  box-shadow: 0 0 0 1px black;
  margin: 0 0 1px 1px;
  text-align: center;
  padding-top: 100%;
}

.hide {
  display: none;
}

.ship {
  background: rgb(105, 105, 252);
  box-shadow: 0 0 0 1px black;
  margin: 0 0 1px 1px;
  text-align: center;
}

.hit {
  background: red;
  box-shadow: 0 0 0 1px black;
  margin: 0 0 1px 1px;
  text-align: center;
}

.miss {
  background: grey;
  box-shadow: 0 0 0 1px black;
  margin: 0 0 1px 1px;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .grid-container {
    width: 85vw;
    display: grid;
    margin: 0;
    padding: 10px;

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .main {
    display: grid;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .grid-container {
    width: 50vw;
    display: grid;
    margin: 0;
    padding: 10px;

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .main {
    display: grid;
  }
}

@media only screen and (min-device-width: 769px) {
  .main {
    display: grid;
    grid-auto-flow: column;
  }

  .grid-container {
    width: 45vw;
    display: grid;
    margin: 0;
    padding: 10px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .playerOneBoard {
    display: grid;
    grid-auto-flow: column;
  }

  .playerTwoBoard {
    display: grid;
    grid-auto-flow: column;
  }
}
