@use "sass:math";

.playerOneBoard,
.playerTwoBoard {
  margin: 0 auto;
}

.grid-item {
  box-shadow: 0 0 0 1px black;
  margin: 0 0 1px 1px;
  text-align: center;
  padding-top: 100%;
}

.hide {
  display: none;
}

.ship {
  background: rgb(105, 105, 252);
  box-shadow: 0 0 0 1px black;
  margin: 0 0 1px 1px;
  text-align: center;
}

.hit {
  background: red;
  box-shadow: 0 0 0 1px black;
  margin: 0 0 1px 1px;
  text-align: center;
}

.miss {
  background: grey;
  box-shadow: 0 0 0 1px black;
  margin: 0 0 1px 1px;
  text-align: center;
}

.grid-container {
  display: grid;
  margin: 0;
  padding: 10px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.main {
  display: grid;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  $width: 85vw;

  .grid-container {
    width: $width;
  }

  #instructions {
    width: math.div($width, 10) * 5;
  }

  .horizontal {
    width: math.div($width, 10);
    margin-right: 5px;

    &#carrier {
      height: math.div($width, 10) * 5;
    }

    &#battleship {
      height: math.div($width, 10) * 4;
    }

    &#cruiser {
      height: math.div($width, 10) * 3;
    }

    &#submarine {
      height: math.div($width, 10) * 3;
    }

    &#destroyer {
      height: math.div($width, 10) * 2;
    }
  }

  .vertical {
    height: math.div($width, 10);

    &#carrier {
      width: math.div($width, 10) * 5;
    }

    &#battleship {
      width: math.div($width, 10) * 4;
    }

    &#cruiser {
      width: math.div($width, 10) * 3;
    }

    &#submarine {
      width: math.div($width, 10) * 3;
    }

    &#destroyer {
      width: math.div($width, 10) * 2;
    }
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  $width: 50vw;

  .grid-container {
    width: $width;
  }

  #instructions {
    width: math.div($width, 10) * 5;
  }

  .horizontal {
    width: math.div($width, 10);
    margin-right: 5px;

    &#carrier {
      height: math.div($width, 10) * 5;
    }

    &#battleship {
      height: math.div($width, 10) * 4;
    }

    &#cruiser {
      height: math.div($width, 10) * 3;
    }

    &#submarine {
      height: math.div($width, 10) * 3;
    }

    &#destroyer {
      height: math.div($width, 10) * 2;
    }
  }

  .vertical {
    height: math.div($width, 10);

    &#carrier {
      width: math.div($width, 10) * 5;
    }

    &#battleship {
      width: math.div($width, 10) * 4;
    }

    &#cruiser {
      width: math.div($width, 10) * 3;
    }

    &#submarine {
      width: math.div($width, 10) * 3;
    }

    &#destroyer {
      width: math.div($width, 10) * 2;
    }
  }
}

@media only screen and (min-device-width: 769px) {
  $width: 40vw;

  .main {
    grid-auto-flow: column;
  }

  .grid-container {
    width: $width;
  #instructions {
    width: math.div($width, 10) * 5;
  }

  .playerOneBoard,
  .playerTwoBoard {
    display: grid;
    grid-auto-flow: column;
  }

  .horizontal {
    width: math.div($width, 10);
    margin-right: 5px;

    &#carrier {
      height: math.div($width, 10) * 5;
    }

    &#battleship {
      height: math.div($width, 10) * 4;
    }

    &#cruiser {
      height: math.div($width, 10) * 3;
    }

    &#submarine {
      height: math.div($width, 10) * 3;
    }

    &#destroyer {
      height: math.div($width, 10) * 2;
    }
  }

  .vertical {
    height: math.div($width, 10);

    &#carrier {
      width: math.div($width, 10) * 5;
    }

    &#battleship {
      width: math.div($width, 10) * 4;
    }

    &#cruiser {
      width: math.div($width, 10) * 3;
    }

    &#submarine {
      width: math.div($width, 10) * 3;
    }

    &#destroyer {
      width: math.div($width, 10) * 2;
    }
  }
}
